In [1]:
import enerhabitat as eh
import pandas as pd 
import plotly.express as px
import time

eh.materials('../eh_config/materials.ini')

'../eh_config/materials.ini'

In [3]:
docs = ["../data/solucion_AC_001.csv",
        "../data/solucion_AC_002.csv",
        "../data/solucion_sin_AC_001.csv",
        "../data/solucion_sin_AC_002.csv"]
dataframes = []
for file in docs:
    dataframes.append(pd.read_csv(file, index_col=0, parse_dates=True))
    
dataframes[0].info()
dataframes[1].info()
dataframes[2].info()
dataframes[3].info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 144 entries, 2025-10-15 00:00:00-06:00 to 2025-10-15 23:50:00-06:00
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   zenith            144 non-null    float64
 1   elevation         144 non-null    float64
 2   azimuth           144 non-null    float64
 3   equation_of_time  144 non-null    float64
 4   Tn                144 non-null    float64
 5   DeltaTn           144 non-null    float64
 6   Ta                144 non-null    float64
 7   Ig                144 non-null    float64
 8   Ib                144 non-null    float64
 9   Id                144 non-null    float64
 10  Is                144 non-null    float64
 11  Tsa_1             144 non-null    float64
 12  Ti_1              144 non-null    float64
dtypes: float64(13)
memory usage: 15.8 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 144 entries, 2025-10-15 00:00:00-06:00 to 2025-10-15 23:50:00-06:00
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   zenith            144 non-null    float64
 1   elevation         144 non-null    float64
 2   azimuth           144 non-null    float64
 3   equation_of_time  144 non-null    float64
 4   Tn                144 non-null    float64
 5   DeltaTn           144 non-null    float64
 6   Ta                144 non-null    float64
 7   Ig                144 non-null    float64
 8   Ib                144 non-null    float64
 9   Id                144 non-null    float64
 10  Is                144 non-null    float64
 11  Tsa_1             144 non-null    float64
 12  Ti_1              144 non-null    float64
dtypes: float64(13)
memory usage: 15.8 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 144 entries, 2025-10-15 00:00:00-06:00 to 2025-10-15 23:50:00-06:00
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   zenith            144 non-null    float64
 1   elevation         144 non-null    float64
 2   azimuth           144 non-null    float64
 3   equation_of_time  144 non-null    float64
 4   Tn                144 non-null    float64
 5   DeltaTn           144 non-null    float64
 6   Ta                144 non-null    float64
 7   Ig                144 non-null    float64
 8   Ib                144 non-null    float64
 9   Id                144 non-null    float64
 10  Is                144 non-null    float64
 11  Tsa_1             144 non-null    float64
 12  Ti_1              144 non-null    float64
dtypes: float64(13)
memory usage: 15.8 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 144 entries, 2025-10-15 00:00:00-06:00 to 2025-10-15 23:50:00-06:00
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   zenith            144 non-null    float64
 1   elevation         144 non-null    float64
 2   azimuth           144 non-null    float64
 3   equation_of_time  144 non-null    float64
 4   Tn                144 non-null    float64
 5   DeltaTn           144 non-null    float64
 6   Ta                144 non-null    float64
 7   Ig                144 non-null    float64
 8   Ib                144 non-null    float64
 9   Id                144 non-null    float64
 10  Is                144 non-null    float64
 11  Tsa_1             144 non-null    float64
 12  Ti_1              144 non-null    float64
dtypes: float64(13)
memory usage: 15.8 KB

In [7]:
print(f"Con AC : {dataframes[0].equals(dataframes[1])}")
print(f"Sin AC : {dataframes[2].equals(dataframes[3])}")

Con AC : False
Sin AC : False

In [8]:
dataframes[0].merge(dataframes[1], how='inner')

Empty DataFrame
Columns: [zenith, elevation, azimuth, equation_of_time, Tn, DeltaTn, Ta, Ig, Ib, Id, Is, Tsa_1, Ti_1]
Index: []

In [9]:
dataframes[2].merge(dataframes[3], how='inner')

Empty DataFrame
Columns: [zenith, elevation, azimuth, equation_of_time, Tn, DeltaTn, Ta, Ig, Ib, Id, Is, Tsa_1, Ti_1]
Index: []